"C:\CodeBlocks Programs\Self Practice\IE-ENC (coding)\Project 1\Q1\bin"
"C:\CodeBlocks Programs\Self Practice\IE-ENC (coding)\Project 1\Q1\obj"
"C:\CodeBlocks Programs\Self Practice\IE-ENC (coding)\Project 1\Q1\Q1.cbp"
"C:\CodeBlocks Programs\Self Practice\IE-ENC (coding)\Project 1\Q1\Q1.depend"
"C:\CodeBlocks Programs\Self Practice\IE-ENC (coding)\Project 1\Q1\Q1.layout"

"C:\CodeBlocks Programs\Self Practice\IE-ENC (coding)\Project 1\Q2\bin"
"C:\CodeBlocks Programs\Self Practice\IE-ENC (coding)\Project 1\Q2\obj"
"C:\CodeBlocks Programs\Self Practice\IE-ENC (coding)\Project 1\Q2\Q2.cbp"
"C:\CodeBlocks Programs\Self Practice\IE-ENC (coding)\Project 1\Q2\Q2.layout"

"C:\CodeBlocks Programs\Self Practice\IE-ENC (coding)\Project 1\Q3\bin"
"C:\CodeBlocks Programs\Self Practice\IE-ENC (coding)\Project 1\Q3\obj"
"C:\CodeBlocks Programs\Self Practice\IE-ENC (coding)\Project 1\Q3\Q3.cbp"
"C:\CodeBlocks Programs\Self Practice\IE-ENC (coding)\Project 1\Q3\Q3.depend"
"C:\CodeBlocks Programs\Self Practice\IE-ENC (coding)\Project 1\Q3\Q3.layout"

"C:\CodeBlocks Programs\Self Practice\IE-ENC (coding)\Project 1\Q4\bin"
"C:\CodeBlocks Programs\Self Practice\IE-ENC (coding)\Project 1\Q4\obj"
"C:\CodeBlocks Programs\Self Practice\IE-ENC (coding)\Project 1\Q4\Q4.cbp"
"C:\CodeBlocks Programs\Self Practice\IE-ENC (coding)\Project 1\Q4\Q4.depend"
"C:\CodeBlocks Programs\Self Practice\IE-ENC (coding)\Project 1\Q4\Q4.layout"